<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="opencart Test Suite">
  <test thread-count="5" name="All Test">
    <classes>
      <class name="com.qa.testcases.AccountLoginPageTest"/>
      <class name="com.qa.testcases.HomePageTest"/>
      <class name="com.qa.testcases.MyAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
