<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="opencart Test Suite">
	<listeners>
		<listener class-name="com.qa.extentreport.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<parameter name="browserversion" value="135.0" />
		<classes>
			<class name="com.qa.testcases.TC01_HomePageTest" />
			<class name="com.qa.testcases.TC02_LoginPageTest" />
			<class name="com.qa.testcases.TC03_MyAccountPageTest" />
		</classes>
	</test> 

	<!--test thread-count="5" name="FireFox Test">
		<parameter name="browser" value="firefox" />
		<parameter name="browserversion" value="137.0" />
		<classes>
			<class name="com.qa.testcases.TC01_HomePageTest" />
			<class name="com.qa.testcases.TC02_LoginPageTest" />
			<class name="com.qa.testcases.TC03_MyAccountPageTest" />
		</classes>
	</test-->
</suite> <!-- Suite -->
